@import "partials/variables_and_mixins";

body{
    font-family: 'Muli', sans-serif;
    //font-size: 16px;
    font-size: 16px;
    padding: 0;
    margin: 0;
    width: 100%;
    background: #f6f6f6;
}
*{
    box-sizing: border-box;
}
*:before, *:after{
    box-sizing: border-box;
}


// *************************
// Elements
// ************************
.btn{
    background: $primary-color;
    color:$white;
    font-size: 1.2em;
    @include round-border;
    padding: gap(1.2) gap(4);
    border: none;
    min-width: 150px;

    &:hover{
        cursor: pointer;
        background: $accent-color;
    }
    &:active{
        background: darken($accent-color, 10%);
    }
}


.error{
    color: $danger;
}
.success{
    color: $success;
}

.icon{
    width: 25px;
    //width: 35px;
    height: 25px;
    //height: 35px;
    fill: $white;
}


a{
    text-decoration: none;
}



input{
    padding: gap(1.5) gap(1.5) gap(1.5) gap(2.5);
    @include light_border;
    @include card-border;
    margin: gap(0.5) 0;
    font-size: 1.2em;
    &::placeholder{
        color: rgba(black,0.3);

    }
}
select{
    @extend input;
}



.search-filter-contianer{
    display: flex;
    justify-content: space-between;
}





.search-container{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @include card_style;
    margin-bottom: gap(3);
    &:hover{
        cursor: pointer;

    }


    .icon{
        fill: rgba(#000,0.4);
        cursor: pointer;
        box-sizing: content-box;
        padding: gap(2);
        &:hover{
            fill: rgba(#000,1);
        }
    }
    input{
        border: none;
        outline: none;
        &:hover{
            cursor: text;
        }
    }

}

.filter-container{

}







//**********************
//  Dialog
//**********************
.dialog{
    background: $white;
    @include shadow;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: gap(3) gap(5);


    .title{
        text-align: center;
        font-size: 2em;
        font-weight: $font-normal;
    }



}





//************************
//      Table
//***********************
.page_body{
    //margin-left: gap(6);
}

.table_container{
    margin-top: gap(10);
    strong  {
        font-weight: $font-bolder;
        font-size: 1.2em;
    }
    .table_header{
        font-size: 1.1em;
    }

    table{
        background: $white;
        @include shadow;
        padding: gap(2) ;

        text-align: left;
        width: 100%;

        th {
            font-size: 1.1em;
            //text-align: center;
        }

        td,th {
            padding: gap(1) gap(2);
        }

        .icons-container{
            display: flex;
            justify-content: left;
            .icon  {
                fill: $primary-color ;
                opacity: 0.7;
                padding: gap(1);
                box-sizing: content-box;
                width: 20px;
                height: 20px;


                &:hover{
                    opacity: 1;
                    &.danger{
                        fill: $danger;
                    }

                }
            }
        }

    }




}





































// *************************
//  Login Form Container
// ************************
.login-container{
    background: $primary-color;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;

    h1{
        text-align: center;
        color: $white;
    }

    .logo img{
        width: 250px;
        margin-bottom: gap(1);
    }



    form{
        background: $white;
        @include card-border;
        padding: 50px;
        width: 100%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
    }

    label{
        display: block;
        padding:  gap(.5) gap(1);
    }
    .input-group{
        display: flex;
        flex-direction: column;
        margin: gap(1) 0;
    }
    input{
        padding: gap(1.5) gap(2);
        @include card-border;
        border: 1px solid rgba(black, 0.4);
        font-size: 1.2em;
    }

    .btn{
        display: block;
        margin: gap(2) auto;
    }

    .link{
        text-align: center;
    }


}















// *************************
//  Main Navigation
// ************************
.main_navigation_container{
    background: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: gap(2) 0;
    @include shadow;
    //transition: width 0.3s ease-in;
    width: 300px;


    &.collapsed{
        width: 80px;
        span{
            display: none;
        }
        .icon{
            //width: 25px;
            //height: 25px;
            display: block;
            margin: 0 auto;
        }
    }

    a{
        color: $white;
        font-size: 1.2em;
    }



    //********* Nav Header
    .nav_logo_container img{

        height: 80px;
        margin: 0 auto;
        display: block;
    }
    .nav_logo_container .logo{
        padding-right: gap(3);
    }



    //**************** Nav items
    .nav_items {
        list-style: none;
        padding: 0;
    }
    .nav_item{
        display: flex;
        align-items: center;
        padding: gap(2);
        span{
            margin-left: gap(2);
            margin-right: gap(10);
        }

        &.active{
            background: rgba(#E3E5ED, 0.3);
        }
        &:hover{
            background: rgba(#E3E5ED, 0.3);
        }
        &:active{
            background: $accent-color;
        }

    }



}



.title_nav_toggle_container{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: gap(1);
    left: 320px;

    &.collapsed{
        left: 100px;
    }
    &:hover{
        cursor: pointer;
    }

    .nav_toggler_container{
        background: $primary-color;
        padding: gap(1);
        border-radius: 50%;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:active{
            background: $accent-color;
        }
    }
    .title{
        padding-left: gap(1);
        font-size: 1.8em;
        font-weight: 800;
        color: $text-primary-color;
    }
}
























//**********************
//   Content Container   TEMP Styles
//**********************

.page_header{
    display: flex;
    justify-content: flex-end;



}



.content-container{
    padding: gap(2) gap(2.5) gap(2) gap(12);
    min-height: 100vh;
    width: 100%;
    //max-width: 1400px;
    //margin: 0 auto;
    //background: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: flex-start;
    .page_header{
        display: flex;
        justify-content: flex-end;
        padding-top: gap(1);
        width: 100%;
    }
    .page_body{
        width: 100%;

    }
    .page_footer{
    }



    form{
        background: $white;
        @include shadow;
        padding: gap(3) gap(5);
        display: block;
        width: 40%;
        margin: gap(10) auto;
        .title{
            font-size: 2em;
            display: block;
            text-align: center;
            font-weight: $font-normal;
            margin-bottom: gap(4);
        }
        .btn{
            margin: 0 auto;
            display: block;
        }
        .form_element{
            display: flex;
            flex-direction: column;
            margin: gap(2);
        }
    }

}


















//**********************
//   Create Connections Form
//**********************

form.create_connection_container{
    @include card_style;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    min-height: 100vh;

    margin-top: gap(10);
    .heading{
        font-size: 2em;
        font-weight: $font-normal;
        padding-left: gap(2);
    }
    .package_detail, .contact_detail{
        flex-grow: 1;
    }




    .form_element_group{
        display: flex;
    }
    .form_element{
        margin: gap(1);
        justify-content: center;
        input{
            padding: gap(1);
            align-self: flex-start;
        }
    }

    .form_element.checkbox{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        input {
            width: 20px;
            height: 20px;
            &:hover{
                cursor: inherit;
            }
        }
        label{
            padding-left: gap(2);
            &::selection{
                background: none;
            }

            &:hover{
                cursor: pointer;
            }
        }

        &:hover{
            cursor: pointer;
        }
    }


    #billingAddress,#installationAddress{
        align-self: stretch;
        margin-right: gap(15);
    }

    .btn{
        margin-top: gap(2);
        align-self: flex-start;
        display: inline-block;
        font-size: 1.4em;
        outline: none;
    }
}

form.invoice_container{
    width: 50%;

    .contact_data{
        margin-bottom: gap(4);
    }
    .bill_data{
        margin-bottom: gap(4);
    }
    .data_item{
        margin-top: gap(1);
        display: flex;
        justify-content: space-between;
        text-align: left;

        span,strong{
            text-align: left;
            width: 50%;
        }
    }

    .form_element{
        margin: 0;
        input{
            padding: gap(1);
        }
    }
    .btn{
        margin: gap(2) auto;
    }
}






.connection_detail_container{
    @include card_style;
    width: 95%;
    margin: gap(10) auto;
    padding: gap(5) gap(10);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .connection_detail{
        width: 70%;
    }

    .data_item{
        margin-top: gap(1);
        display: flex;
        justify-content: space-between;
        text-align: left;

        span,strong{
            text-align: left;
            width: 50%;
        }
    }

    .title{
        font-size: 2em;
        font-weight: $font-normal;
    }
    .contact_info{
        margin-bottom: gap(8);
    }

    .bill_detail{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 30%;

        .bill_summary{
            @include card_style;
            padding: gap(1);
            display: flex;
            flex-direction: column;
            width: 100%;
            .title{
                text-align: center;
            }
            .data{
                width: 100%;
                margin: gap(1) auto;
                padding-left: gap(3);
            }
            a{
                margin: gap(1) 0;
                text-align: center;
            }
        }

    }

    .btn{
        margin: gap(1);
    }
    .buttons_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

td.icons-container{
    display: flex;
    justify-content: center;
    align-items: center;
}








.filters-container{
    display: flex;

    .filter{
        margin: gap(1);
    }
}


























// *************************
//  Dashboard Container
// ************************
.meta_info_container{
    margin-top: gap(10);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .card{
        @include card_style;
        display: block;
        background: $white;
        margin: gap(2);
        padding: gap(2);
        width: 45%;
        color: $text-primary-color;
        max-width: 400px;
    }

    .card-body{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .icon{
            fill: $primary-color;
            width: 6em;
            height: 6em;
            margin: gap(2);
        }

        .content{
            display: flex;
            flex-direction: column;
            margin: gap(2);
            text-align: right;
            .heading{
                font-size: 1.1em;
            }
            .data{
                font-size: 3em;
            }
        }
    }
}