body {
  font-family: "Muli", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  width: 100%;
  background: #f6f6f6;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

.btn {
  background: #1E2838;
  color: #fff;
  font-size: 0.8em;
  border-radius: 100px;
  padding: 8px 16px;
  border: none;
  text-align: center;
}

.btn:hover {
  cursor: pointer;
  background: #F37129;
}

.btn:active {
  background: #dd570c;
}

@media (min-width: 600px) {
  .btn {
    font-size: 1em;
    padding: 8px 24px;
  }
}

.icon {
  width: 25px;
  height: 25px;
  fill: #fff;
}

a {
  text-decoration: none;
}

input {
  padding: 12px 12px 12px 12px;
  font-size: 1.2em;
}

input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

select {
  padding: 8px;
  border: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background: #fff;
  font-size: 0.8em;
  min-width: 150px;
}

.search-filter-contianer {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

@media (min-width: 700px) {
  .search-filter-contianer {
    font-size: 1.2em;
  }
}

.search-container {
  align-self: center;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  font-size: 0.8em;
  border: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background: #fff;
}

.search-container:hover {
  cursor: pointer;
}

.search-container .icon {
  fill: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  box-sizing: content-box;
  padding: 8px;
  width: 18px;
  height: 18px;
}

.search-container .icon:hover {
  fill: black;
}

.search-container input {
  border: none;
  outline: none;
}

.search-container input:hover {
  cursor: text;
}

.filters-container {
  width: 100%;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  margin-top: 16px;
}

.filters-container .filter {
  margin: 4px 8px;
}

.bold {
  font-weight: 700;
}

.success {
  color: #3EA900;
}

.danger {
  color: red;
}

.neutral {
  color: #003ed6;
}

.dialog {
  background: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 24px 40px;
}

.dialog .title {
  text-align: center;
  font-size: 2em;
  font-weight: 400;
}

.table_container {
  width: 99%;
}

.table_container .table-meta-info {
  text-align: center;
  margin: 16px auto;
  display: block;
  max-width: 1500px;
}

.table_container .table-meta-info strong {
  font-size: 1.4em;
}

@media (min-width: 1000px) {
  .table_container .table-meta-info {
    text-align: left;
  }
}

.table_container .table_header {
  font-size: 1.1em;
}

.table_container table {
  text-align: left;
  width: 100%;
}

.table_container table thead {
  display: none;
}

.table_container table thead tr {
  padding: 8px;
}

.table_container table tr {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  align-self: center;
  width: 100%;
  border: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background: #fff;
  margin: 16px auto;
  padding-bottom: 16px;
  max-width: 340px;
}

@media (min-width: 600px) {
  .table_container table tr {
    max-width: 400px;
    font-size: 1.1em;
  }
}

.table_container table td {
  display: -webkit-box;
  display: flex;
  font-size: 1em;
  margin: 1.6px 8px;
}

.table_container table td strong {
  width: 80px;
  margin-left: 16px;
}

.table_container table td span {
  margin-left: 16px;
}

.table_container table td.blocked {
  color: red;
  font-size: 1.5em;
  text-align: center;
  align-self: center;
}

@media (min-width: 300px) {
  .table_container table td strong {
    width: 100px;
  }
}

@media (min-width: 360px) {
  .table_container table td strong {
    width: 150px;
  }
}

@media (min-width: 600px) {
  .table_container table td strong {
    width: 200px;
  }
}

.table_container table .state {
  -webkit-box-ordinal-group: 0;
          order: -1;
  display: -webkit-inline-box;
  display: inline-flex;
}

.table_container table .icons-container {
  width: 100%;
  align-self: flex-end;
  -webkit-box-ordinal-group: 0;
          order: -1;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.table_container table .icons-container .icon {
  fill: #1E2838;
  opacity: 0.7;
  padding: 4px;
  margin: 4px;
  box-sizing: content-box;
  width: 20px;
  height: 20px;
}

.table_container table .icons-container .icon:hover {
  opacity: 1;
}

.table_container table .icons-container .icon:hover.danger {
  fill: red;
}

.table_container table .icons-container .state {
  margin-left: 8px;
}

@media (min-width: 1000px) {
  .table_container table thead {
    display: block;
    box-shadow: none;
    font-size: 1.1em;
    margin-top: 8px;
  }

  .table_container table tr {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: center;
            align-items: center;
    text-align: left;
    font-size: 0.8em;
    margin: 4px auto;
    padding: 0;
    width: 100%;
    box-shadow: none;
    max-width: 100%;
  }

  .table_container table tr.blocked {
    background: rgba(255, 0, 0, 0.8);
    color: white;
  }

  .table_container table tr.blocked .success,
  .table_container table tr.blocked .danger,
  .table_container table tr.blocked .neutral {
    color: white;
  }

  .table_container table tr.blocked .icon {
    fill: white;
  }

  .table_container table th,
  .table_container table td {
    min-width: 9.5%;
    text-align: left;
    margin: 0.8px;
    word-wrap: break-word;
  }

  .table_container table th.username,
  .table_container table td.username {
    word-break: break-all;
  }

  .table_container table th.blocked,
  .table_container table td.blocked {
    display: none;
  }

  .table_container table th.hide-column,
  .table_container table td.hide-column {
    display: none;
  }

  .table_container table th.number-column,
  .table_container table td.number-column {
    min-width: 7%;
  }

  .table_container table th strong,
  .table_container table td strong {
    display: none;
    width: auto;
  }

  .table_container table th span,
  .table_container table td span {
    margin-left: 0;
  }

  .table_container table .icons-container {
    -webkit-box-ordinal-group: 3;
            order: 2;
    min-width: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: center;
            justify-content: center;
    padding: 0;
  }

  .table_container table .icons-container .icon {
    padding: 4px;
  }
}

@media (min-width: 1300px) {
  .table_container table tr {
    font-size: 1em;
    padding: 8px;
    max-width: 1500px;
    margin: 4px auto;
  }
}

.table_container.recoveries th strong,
.table_container.recoveries td strong {
  width: 80px;
  margin-left: 16px;
}

.table_container.recoveries th span,
.table_container.recoveries td span {
  margin-left: 16px;
}

@media (min-width: 600px) {
  .table_container.recoveries th strong,
  .table_container.recoveries td strong {
    width: 100px;
  }
}

@media (min-width: 1000px) {
  .table_container.recoveries tr {
    margin: 4px auto;
  }

  .table_container.recoveries th,
  .table_container.recoveries td {
    width: 10%;
  }

  .table_container.recoveries th span,
  .table_container.recoveries td span {
    margin: 0;
  }

  .table_container.recoveries th.comments,
  .table_container.recoveries td.comments {
    width: 40%;
  }

  .table_container.recoveries .icons-container {
    width: 10%;
    margin-left: auto;
  }
}

.table_container.users tr {
  padding: 16px;
  min-width: 100%;
  margin: 8px auto;
}

@media (min-width: 450px) {
  .table_container.users tr {
    min-width: 420px;
  }
}

.table_container.users th strong,
.table_container.users td strong {
  max-width: 70px;
  margin-left: 16px;
}

.table_container.users th span,
.table_container.users td span {
  margin-left: 16px;
  word-break: break-all;
}

@media (min-width: 1000px) {
  .table_container.users tr {
    margin: 4px auto;
  }

  .table_container.users th,
  .table_container.users td {
    width: 15%;
  }

  .table_container.users th span,
  .table_container.users td span {
    margin: 0;
  }

  .table_container.users th.email,
  .table_container.users td.email {
    width: 30%;
  }

  .table_container.users .icons-container {
    width: 10%;
    margin-left: auto;
  }
}

.table_container.packages {
  margin-top: 32px;
}

.table_container.packages th strong,
.table_container.packages td strong {
  width: 120px;
  margin-left: 16px;
}

.table_container.packages th span,
.table_container.packages td span {
  margin-left: 16px;
}

@media (min-width: 600px) {
  .table_container.packages th,
  .table_container.packages td {
    font-size: 1.2em;
  }

  .table_container.packages th strong,
  .table_container.packages td strong {
    width: 180px;
  }
}

@media (min-width: 1000px) {
  .table_container.packages tr {
    padding: 8px;
  }

  .table_container.packages th,
  .table_container.packages td {
    width: 20%;
  }

  .table_container.packages th span,
  .table_container.packages td span {
    margin: 0;
  }

  .table_container.packages th.connections,
  .table_container.packages td.connections {
    text-align: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
  }

  .table_container.packages .icons-container {
    margin-left: auto;
  }
}

.table_container.villages {
  margin-top: 32px;
}

.table_container.villages th strong,
.table_container.villages td strong {
  width: 120px;
  margin-left: 16px;
}

.table_container.villages th span,
.table_container.villages td span {
  margin-left: 16px;
}

@media (min-width: 600px) {
  .table_container.villages th,
  .table_container.villages td {
    font-size: 1.2em;
  }

  .table_container.villages th strong,
  .table_container.villages td strong {
    width: 180px;
  }
}

@media (min-width: 1000px) {
  .table_container.villages tr {
    padding: 8px;
  }

  .table_container.villages th,
  .table_container.villages td {
    width: 20%;
  }

  .table_container.villages th span,
  .table_container.villages td span {
    margin: 0;
  }

  .table_container.villages th.connections,
  .table_container.villages td.connections {
    text-align: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
  }

  .table_container.villages .icons-container {
    margin-left: auto;
  }
}

.login-container {
  background: #1E2838;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding-top: 100px;
}

.login-container h1 {
  text-align: center;
  color: #fff;
}

.login-container .logo img {
  width: 250px;
  margin-bottom: 8px;
}

.login-container form {
  background: #fff;
  border-radius: 2px;
  padding: 50px;
  width: 100%;
  max-width: 400px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.login-container label {
  display: block;
  padding: 4px 8px;
}

.login-container .input-group {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin: 8px 0;
}

.login-container input {
  padding: 12px 16px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-size: 1.2em;
}

.login-container .btn {
  display: block;
  margin: 16px auto;
}

.login-container .link {
  text-align: center;
}

.main_navigation_container {
  background: #1E2838;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 16px 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
  width: 300px;
}

.main_navigation_container.collapsed {
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
}

.main_navigation_container a {
  color: #fff;
  font-size: 1em;
}

.main_navigation_container .nav_logo_container img {
  height: 80px;
  margin: 0 auto;
  display: block;
}

.main_navigation_container .nav_logo_container .logo {
  padding-right: 24px;
}

.main_navigation_container .nav_items {
  list-style: none;
  padding: 0;
}

.main_navigation_container .nav_item {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  padding: 8px 16px;
}

.main_navigation_container .nav_item span {
  margin-left: 16px;
  margin-right: 80px;
}

.main_navigation_container .nav_item.active {
  background: rgba(227, 229, 237, 0.3);
}

.main_navigation_container .nav_item:hover {
  background: rgba(227, 229, 237, 0.3);
}

.main_navigation_container .nav_item:active {
  background: #F37129;
}

.main_navigation_container .nav_close_btn {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 48px;
  height: 48px;
  padding: 16px;
  fill: #fff;
}

.main_navigation_container .nav_close_btn:hover {
  cursor: pointer;
}

.main_navigation_container .nav_close_btn:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  fill: #F37129;
}

@media (min-width: 600px) {
  .main_navigation_container .nav_close_btn {
    display: none;
  }
}

@media (min-width: 1000px) {
  .main_navigation_container .nav_item {
    padding: 12px 16px;
  }
}

.title_nav_toggle_container {
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  position: absolute;
  top: 8px;
  left: 16px;
  -webkit-transform: translateX(300px);
          transform: translateX(300px);
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}

.title_nav_toggle_container.collapsed {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.title_nav_toggle_container:hover {
  cursor: pointer;
}

.title_nav_toggle_container .nav_toggler_container {
  background: #1E2838;
  padding: 8px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.title_nav_toggle_container .nav_toggler_container:active {
  background: #F37129;
}

.title_nav_toggle_container .title {
  padding-left: 8px;
  font-size: 1.4em;
  font-weight: 800;
  color: #000;
}

.page_header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.content-container {
  padding: 16px;
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: start;
          align-items: flex-start;
  box-sizing: border-box;
  -webkit-box-pack: start;
          justify-content: flex-start;
}

.content-container .page_header {
  margin-top: 56px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  width: 100%;
}

@media (min-width: 400px) {
  .content-container .page_header {
    margin-top: 8px;
    -webkit-box-pack: end;
            justify-content: flex-end;
  }
}

.content-container .page_body {
  width: 100%;
}

.content-container form {
  background: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 24px 40px;
  display: block;
  width: 40%;
  margin: 80px auto;
}

.content-container form .title {
  font-size: 2em;
  display: block;
  text-align: center;
  font-weight: 400;
  margin-bottom: 32px;
}

.content-container form .btn {
  margin: 0 auto;
  display: block;
}

.content-container form .form_element {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin: 16px;
}

form.create_connection_container {
  border: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
          align-items: flex-start;
  width: 100%;
  min-height: 100vh;
  margin-top: 80px;
}

form.create_connection_container .heading {
  font-size: 2em;
  font-weight: 400;
  padding-left: 16px;
}

form.create_connection_container .package_detail,
form.create_connection_container .contact_detail {
  -webkit-box-flex: 1;
          flex-grow: 1;
}

form.create_connection_container .form_element_group {
  display: -webkit-box;
  display: flex;
}

form.create_connection_container .form_element {
  margin: 8px;
  -webkit-box-pack: center;
          justify-content: center;
}

form.create_connection_container .form_element input {
  padding: 8px;
  align-self: flex-start;
}

form.create_connection_container .form_element.checkbox {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: start;
          justify-content: flex-start;
}

form.create_connection_container .form_element.checkbox input {
  width: 20px;
  height: 20px;
}

form.create_connection_container .form_element.checkbox input:hover {
  cursor: inherit;
}

form.create_connection_container .form_element.checkbox label {
  padding-left: 16px;
}

form.create_connection_container .form_element.checkbox label::-moz-selection {
  background: none;
}

form.create_connection_container .form_element.checkbox label::selection {
  background: none;
}

form.create_connection_container .form_element.checkbox label:hover {
  cursor: pointer;
}

form.create_connection_container .form_element.checkbox:hover {
  cursor: pointer;
}

form.create_connection_container #billingAddress,
form.create_connection_container #installationAddress {
  align-self: stretch;
  margin-right: 120px;
}

form.create_connection_container .btn {
  margin-top: 16px;
  align-self: flex-start;
  display: inline-block;
  font-size: 1.4em;
  outline: none;
}

form.invoice_container {
  width: 50%;
}

form.invoice_container .contact_data {
  margin-bottom: 32px;
}

form.invoice_container .bill_data {
  margin-bottom: 32px;
}

form.invoice_container .data_item {
  margin-top: 8px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  text-align: left;
}

form.invoice_container .data_item span,
form.invoice_container .data_item strong {
  text-align: left;
  width: 50%;
}

form.invoice_container .form_element {
  margin: 0;
}

form.invoice_container .form_element input {
  padding: 8px;
}

form.invoice_container .btn {
  margin: 16px auto;
}

.connection_detail_container {
  border: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background: #fff;
  width: 95%;
  margin: 80px auto;
  padding: 40px 80px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.connection_detail_container .connection_detail {
  width: 70%;
}

.connection_detail_container .data_item {
  margin-top: 8px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  text-align: left;
}

.connection_detail_container .data_item span,
.connection_detail_container .data_item strong {
  text-align: left;
  width: 50%;
}

.connection_detail_container .title {
  font-size: 2em;
  font-weight: 400;
}

.connection_detail_container .contact_info {
  margin-bottom: 64px;
}

.connection_detail_container .bill_detail {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  width: 30%;
}

.connection_detail_container .bill_detail .bill_summary {
  border: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background: #fff;
  padding: 8px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 100%;
}

.connection_detail_container .bill_detail .bill_summary .title {
  text-align: center;
}

.connection_detail_container .bill_detail .bill_summary .data {
  width: 100%;
  margin: 8px auto;
  padding-left: 24px;
}

.connection_detail_container .bill_detail .bill_summary a {
  margin: 8px 0;
  text-align: center;
}

.connection_detail_container .btn {
  margin: 8px;
}

.connection_detail_container .buttons_container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
}

td.icons-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.meta_info_container {
  margin-top: 64px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.meta_info_container .card {
  border: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background: #fff;
  display: block;
  background: #fff;
  margin: 16px;
  padding: 16px;
  color: #000;
  max-width: 400px;
  min-width: 250px;
}

.meta_info_container .card-body {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.meta_info_container .card-body .icon {
  fill: #1E2838;
  width: 2em;
  height: 2em;
  margin: 16px;
}

.meta_info_container .card-body .content {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin: 16px;
  text-align: right;
}

.meta_info_container .card-body .content .heading {
  font-size: 0.8em;
}

.meta_info_container .card-body .content .data {
  font-size: 1.5em;
}

.meta_info_container .card-footer {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.8em;
}

@media (min-width: 400px) {
  .meta_info_container .card {
    min-width: 350px;
  }

  .meta_info_container .card-body .icon {
    width: 3em;
    height: 3em;
  }

  .meta_info_container .card-body .content .heading {
    font-size: 1em;
  }

  .meta_info_container .card-body .content .data {
    font-size: 2em;
  }
}

@media (min-width: 720px) {
  .meta_info_container .card {
    min-width: 400px;
  }

  .meta_info_container .card-body .icon {
    width: 4em;
    height: 4em;
  }

  .meta_info_container .card-body .content .heading {
    font-size: 1em;
  }

  .meta_info_container .card-body .content .data {
    font-size: 3em;
  }
}

.circle {
  display: block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.circle.block {
  background: red;
}

.circle.active {
  background: green;
}

