body {
  font-family: "Muli", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  width: 100%;
  background: #f6f6f6;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

.btn {
  background: #1E2838;
  color: #fff;
  font-size: 1.2em;
  border-radius: 100px;
  padding: 9.6px 32px;
  border: none;
  min-width: 150px;
}

.btn:hover {
  cursor: pointer;
  background: #F37129;
}

.btn:active {
  background: #dd570c;
}

.error {
  color: red;
}

.success {
  color: #3EA900;
}

.icon {
  width: 25px;
  height: 25px;
  fill: #fff;
}

a {
  text-decoration: none;
}

input,
select {
  padding: 12px 12px 12px 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  border-radius: 2px;
  margin: 4px 0;
  font-size: 1.2em;
}

input::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

input::-moz-placeholder, select::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

input:-ms-input-placeholder, select:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

input::-ms-input-placeholder, select::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

input::placeholder,
select::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-filter-contianer {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.search-container {
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  border: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background: #fff;
  margin-bottom: 24px;
}

.search-container:hover {
  cursor: pointer;
}

.search-container .icon {
  fill: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  box-sizing: content-box;
  padding: 16px;
}

.search-container .icon:hover {
  fill: black;
}

.search-container input,
.search-container select {
  border: none;
  outline: none;
}

.search-container input:hover,
.search-container select:hover {
  cursor: text;
}

.dialog {
  background: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 24px 40px;
}

.dialog .title {
  text-align: center;
  font-size: 2em;
  font-weight: 400;
}

.table_container {
  margin-top: 80px;
}

.table_container strong {
  font-weight: 800;
  font-size: 1.2em;
}

.table_container .table_header {
  font-size: 1.1em;
}

.table_container table {
  background: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 16px;
  text-align: left;
  width: 100%;
}

.table_container table th {
  font-size: 1.1em;
}

.table_container table td,
.table_container table th {
  padding: 8px 16px;
}

.table_container table .icons-container .icon {
  fill: #1E2838;
  opacity: 0.7;
  padding: 8px;
  box-sizing: content-box;
  width: 20px;
  height: 20px;
}

.table_container table .icons-container .icon:hover {
  opacity: 1;
}

.table_container table .icons-container .icon:hover.danger {
  fill: red;
}

.login-container {
  background: #1E2838;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding-top: 100px;
}

.login-container h1 {
  text-align: center;
  color: #fff;
}

.login-container .logo img {
  width: 250px;
  margin-bottom: 8px;
}

.login-container form {
  background: #fff;
  border-radius: 2px;
  padding: 50px;
  width: 100%;
  max-width: 400px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.login-container label {
  display: block;
  padding: 4px 8px;
}

.login-container .input-group {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin: 8px 0;
}

.login-container input,
.login-container select {
  padding: 12px 16px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-size: 1.2em;
}

.login-container .btn {
  display: block;
  margin: 16px auto;
}

.login-container .link {
  text-align: center;
}

.main_navigation_container {
  background: #1E2838;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 16px 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  width: 300px;
}

.main_navigation_container.collapsed {
  width: 80px;
}

.main_navigation_container.collapsed span {
  display: none;
}

.main_navigation_container.collapsed .icon {
  display: block;
  margin: 0 auto;
}

.main_navigation_container a {
  color: #fff;
  font-size: 1.2em;
}

.main_navigation_container .nav_logo_container img {
  height: 80px;
  margin: 0 auto;
  display: block;
}

.main_navigation_container .nav_logo_container .logo {
  padding-right: 24px;
}

.main_navigation_container .nav_items {
  list-style: none;
  padding: 0;
}

.main_navigation_container .nav_item {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  padding: 16px;
}

.main_navigation_container .nav_item span {
  margin-left: 16px;
  margin-right: 80px;
}

.main_navigation_container .nav_item.active {
  background: rgba(227, 229, 237, 0.3);
}

.main_navigation_container .nav_item:hover {
  background: rgba(227, 229, 237, 0.3);
}

.main_navigation_container .nav_item:active {
  background: #F37129;
}

.title_nav_toggle_container {
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  position: absolute;
  top: 8px;
  left: 320px;
}

.title_nav_toggle_container.collapsed {
  left: 100px;
}

.title_nav_toggle_container:hover {
  cursor: pointer;
}

.title_nav_toggle_container .nav_toggler_container {
  background: #1E2838;
  padding: 8px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.title_nav_toggle_container .nav_toggler_container:active {
  background: #F37129;
}

.title_nav_toggle_container .title {
  padding-left: 8px;
  font-size: 1.8em;
  font-weight: 800;
  color: #000;
}

.page_header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.content-container {
  padding: 16px 20px 16px 96px;
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  box-sizing: border-box;
  -webkit-box-pack: start;
          justify-content: flex-start;
}

.content-container .page_header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
  padding-top: 8px;
  width: 100%;
}

.content-container .page_body {
  width: 100%;
}

.content-container form {
  background: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 24px 40px;
  display: block;
  width: 40%;
  margin: 80px auto;
}

.content-container form .title {
  font-size: 2em;
  display: block;
  text-align: center;
  font-weight: 400;
  margin-bottom: 32px;
}

.content-container form .btn {
  margin: 0 auto;
  display: block;
}

.content-container form .form_element {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin: 16px;
}

form.create_connection_container {
  border: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
          align-items: flex-start;
  width: 100%;
  min-height: 100vh;
  margin-top: 80px;
}

form.create_connection_container .heading {
  font-size: 2em;
  font-weight: 400;
  padding-left: 16px;
}

form.create_connection_container .package_detail,
form.create_connection_container .contact_detail {
  -webkit-box-flex: 1;
          flex-grow: 1;
}

form.create_connection_container .form_element_group {
  display: -webkit-box;
  display: flex;
}

form.create_connection_container .form_element {
  margin: 8px;
  -webkit-box-pack: center;
          justify-content: center;
}

form.create_connection_container .form_element input,
form.create_connection_container .form_element select {
  padding: 8px;
  align-self: flex-start;
}

form.create_connection_container .form_element.checkbox {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: start;
          justify-content: flex-start;
}

form.create_connection_container .form_element.checkbox input,
form.create_connection_container .form_element.checkbox select {
  width: 20px;
  height: 20px;
}

form.create_connection_container .form_element.checkbox input:hover,
form.create_connection_container .form_element.checkbox select:hover {
  cursor: inherit;
}

form.create_connection_container .form_element.checkbox label {
  padding-left: 16px;
}

form.create_connection_container .form_element.checkbox label::-moz-selection {
  background: none;
}

form.create_connection_container .form_element.checkbox label::selection {
  background: none;
}

form.create_connection_container .form_element.checkbox label:hover {
  cursor: pointer;
}

form.create_connection_container .form_element.checkbox:hover {
  cursor: pointer;
}

form.create_connection_container #billingAddress,
form.create_connection_container #installationAddress {
  align-self: stretch;
  margin-right: 120px;
}

form.create_connection_container .btn {
  margin-top: 16px;
  align-self: flex-start;
  display: inline-block;
  font-size: 1.4em;
  outline: none;
}

form.invoice_container {
  width: 50%;
}

form.invoice_container .contact_data {
  margin-bottom: 32px;
}

form.invoice_container .bill_data {
  margin-bottom: 32px;
}

form.invoice_container .data_item {
  margin-top: 8px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  text-align: left;
}

form.invoice_container .data_item span,
form.invoice_container .data_item strong {
  text-align: left;
  width: 50%;
}

form.invoice_container .form_element {
  margin: 0;
}

form.invoice_container .form_element input,
form.invoice_container .form_element select {
  padding: 8px;
}

form.invoice_container .btn {
  margin: 16px auto;
}

.connection_detail_container {
  border: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background: #fff;
  width: 95%;
  margin: 80px auto;
  padding: 40px 80px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.connection_detail_container .connection_detail {
  width: 70%;
}

.connection_detail_container .data_item {
  margin-top: 8px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  text-align: left;
}

.connection_detail_container .data_item span,
.connection_detail_container .data_item strong {
  text-align: left;
  width: 50%;
}

.connection_detail_container .title {
  font-size: 2em;
  font-weight: 400;
}

.connection_detail_container .contact_info {
  margin-bottom: 64px;
}

.connection_detail_container .bill_detail {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  width: 30%;
}

.connection_detail_container .bill_detail .bill_summary {
  border: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background: #fff;
  padding: 8px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 100%;
}

.connection_detail_container .bill_detail .bill_summary .title {
  text-align: center;
}

.connection_detail_container .bill_detail .bill_summary .data {
  width: 100%;
  margin: 8px auto;
  padding-left: 24px;
}

.connection_detail_container .bill_detail .bill_summary a {
  margin: 8px 0;
  text-align: center;
}

.connection_detail_container .btn {
  margin: 8px;
}

.connection_detail_container .buttons_container {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
}

td.icons-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.filters-container {
  display: -webkit-box;
  display: flex;
}

.filters-container .filter {
  margin: 8px;
}

.meta_info_container {
  margin-top: 80px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.meta_info_container .card {
  border: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background: #fff;
  display: block;
  background: #fff;
  margin: 16px;
  width: 45%;
  color: #000;
  max-width: 400px;
}

.meta_info_container .card-body {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.meta_info_container .card-body .icon {
  fill: #1E2838;
  width: 6em;
  height: 6em;
  margin: 16px;
}

.meta_info_container .card-body .content {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin: 16px;
  text-align: right;
}

.meta_info_container .card-body .content .heading {
  font-size: 1.5em;
}

.meta_info_container .card-body .content .data {
  font-size: 4em;
}

