$primary-color: #1E2838;
$accent-color: #F37129;
$white: #fff;
$danger: red;
$success: #3EA900;



@function gap($x : 1){
    @return  $x * 8px;
}

@mixin border-radius(){

    border-radius: 2px;
}


@mixin round-border(){
    border-radius: 100px;
}


@mixin shadow(){
    box-shadow: 1px 1px 2px rgba(black,0.5);
}